
@{
    ViewBag.Title = "ReClassThreeResult";
}

<h2>Result of Class Three</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassThreeBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassThreeBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassThreeEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassThreeEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassThreeMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Science", "ClassThreeScience", "AllTheResult")</div>
</div>


