
@{
    ViewBag.Title = "ReClassFourResult";
}

<h2>Result of Class Four</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassFourBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassFourBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassFourEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassFourEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassFourMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Science", "ClassFourScience", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("SocialScience", "ClassFourSocialScience", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Religion", "ClassFourReligion", "AllTheResult")</div>
</div>

