
@*@{
    ViewBag.Title = "ReClassEightResult";
}*@

<h2>Result of Class Eight</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassEightBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassEightBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassEightEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassEightEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassEightMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Science", "ClassEightScience", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("SocialScience", "ClassEightSocialScience", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Religion", "ClassEightReligion", "AllTheResult")</div>
</div>

