
@{
    ViewBag.Title = "ReClassSevenResult";
}

<h2>Result of Class Seven</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassSevenBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassSevenBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassSevenEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassSevenEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassSevenMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Science", "ClassSevenScience", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("SocialScience", "ClassSevenSocialScience", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Religion", "ClassSevenReligion", "AllTheResult")</div>
</div>

