
@*@{
    ViewBag.Title = "ReClassTenResult";
}*@

<h2>Result of Class Ten</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassTenBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassTenBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassTenEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassTenEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("GeneralMathematics", "ClassTenGeneralMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("HigherMathematics", "ClassTenHigherMathematics", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Physics", "ClassTenPhysics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Chemistry", "ClassTenChemistry", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Biology", "ClassTenBiology", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("SocialScience", "ClassTenSocialScience", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Religion", "ClassTenReligion", "AllTheResult")</div>
</div>

