
@*@{
    ViewBag.Title = "ReClassNineResult";
}*@

<h2>Result of Class Nine</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("BengaliOne", "ClassNineBengaliOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("BengaliTwo", "ClassNineBengaliTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("EnglishOne", "ClassNineEnglishOne", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("EnglishTwo", "ClassNineEnglishTwo", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("GeneralMathematics", "ClassNineGeneralMathematics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("HigherMathematics", "ClassNineHigherMathematics", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Physics", "ClassNinePhysics", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("Chemistry", "ClassNineChemistry", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Biology", "ClassNineBiology", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("SocialScience", "ClassNineSocialScience", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Religion", "ClassNineReligion", "AllTheResult")</div>
</div>

